version: '3'
services:
  mssql:
    image: mcr.microsoft.com/mssql/server:2019-latest
    restart: always
    ports:
      - 1433:1433
    volumes:
      - ./mssql-data:/var/lib/mssqlql/data
    env_file:
      - mssql.env
